<body bgcolor="#2c28f791">
<center><h1>คู่มือการใช้งาน ATM</h1><br>
<h4>ขั้นตอนแรกกรุณาใส่เลขบัญชี ดังรูป</h4>
<center><img src="atm11.jpg" width ="700" height="350" border="3">
<h4>ขั้นตอนที่สองกรุณาใส่รหัสผ่าน ดังรูป</h4>
<center><img src="atm12.jpg" width ="700" height="350" border="3">
<h4>ขั้นตอนที่สามเมื่อใส่ตามขั้นตอนที่หนึ่งและขั้นตอนที่สองแล้วให้กด  Log in ดังรูป</h4>
<center><img src="atm13.jpg" width ="700" height="350" border="3">
<h4>ขั้นตอนที่สี่เมื่อกด Log in แล้ว ระบบจะเข้าสู่หน้ารายการ ซึ่งหน้ารายการจะเป็น ดังรูป</h4>
<center><img src="atm27.jpg" width ="700" height="350" border="3">
<h4>ขั้นตอนที่ห้าถ้าหากต้องการฝากเงินให้กดฝาก ดังรูป 5.1 หรือถ้าหากต้องการถอนเงินให้กดถอน ดังรูป 5.2</h4>
<center><img src="atm14.jpg" width ="700" height="350" border="3">
<h5>รูป 5.1</h5>
<center><img src="atm15.jpg" width ="700" height="350" border="3">
<h5>รูป 5.2</h5>
<h4>ขั้นตอนที่หกเมื่อกดฝากแล้วระบบจะเข้าสู่หน้าฝากเงิน แล้วให้ป้อนจำนวนเงินที่ต้องการฝาก ดังรูป 6.1 <br>และเมื่อป้อนจำนวนเงินที่ต้องการฝากเสร็จแล้วให้กดยืนยัน ดังรูป 6.2 <br>รายการจะเสร็จสมบูรณ์ก็ต่อเมื่อได้รับข้อความ"ทำรายการฝากเรียบร้อยแล้ว" <br>ให้กดตกลง ดังรูป 6.3แล้วระบบจะกลับเข้าสู่หน้ารายการ ดังรูป 6.4 </h4>
<center><img src="atm18.jpg" width ="700" height="350" border="3">
<h5>รูป 6.1</h5>
<center><img src="atm19.jpg" width ="700" height="350" border="3">
<h5>รูป 6.2</h5>
<center><img src="atm20.jpg" width ="700" height="350" border="3">
<h5>รูป 6.3</h5>
<center><img src="atm27.jpg" width ="700" height="350" border="3">
<h5>รูป 6.4</h5>
<h4>ขั้นตอนที่เจ็ดถ้ากดถอนแล้วระบบจะเข้าสู่หน้าถอนเงิน แล้วให้ป้อนจำนวนเงินที่ต้องการถอน ดังรูป 7.1 <br>และเมื่อป้อนจำนวนเงินที่ต้องการถอนเสร็จแล้วให้กดยืนยัน ดังรูป 7.2 <br>รายการจะเสร็จสมบูรณ์ก็ต่อเมื่อได้รับข้อความ"ทำรายการถอนเงินเรียบร้อยแล้ว" <br>ให้กดตกลง ดังรูป 7.3แล้วระบบจะกลับเข้าสู่หน้ารายการ ดังรูป 7.4 </h4>
<center><img src="atm23.jpg" width ="700" height="350" border="3">
<h5>รูป 7.1</h5>
<center><img src="atm24.jpg" width ="700" height="350" border="3">
<h5>รูป 7.2</h5>
<center><img src="atm25.jpg" width ="700" height="350" border="3">
<h5>รูป 7.3</h5>
<center><img src="atm27.jpg" width ="700" height="350" border="3">
<h5>รูป 7.4</h5>
<h4>ขั้นตอนที่แปดถ้าต้องการออกจากระบบ กด Log out ดังรูป</h4>
<center><img src="atm16.jpg" width ="700" height="350" border="3"><br><br>
<a href="index.html"><button type="button" class="btn btn-dark">กลับสู่หน้าหลัก</button></a></center>